@import url(https://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@font-face{
    font-family: circular;
    src: url(../font/font-collection/circular/CircularStd-Black.woff);
    src: url(../font/font-collection/circular/CircularStd-Black.woff2);
    src: url(../font/circular/circular-black-italic.otf);
    src: url(../font/circular/circular-black.otf);
    src: url(../font/circular/circular-bold-italic.otf);
    src: url(../font/circular/circular-bold.otf);
    src: url(../font/circular/circular-book-italic.otf);
    src: url(../font/circular/circular-book.otf);
    src: url(../font/circular/circular-medium-italic.otf);
    src: url(../font/circular/circular-medium.otf);
    /* font-style: normal; */
    /* font-size: 10px; */
}
/* @font-face{
    font-family: circular;
    src: url(../font/circular/circular-black.otf);
    font-style: normal;
} */
body{
    margin: 0px;
}
@media screen and (max-width:450px){
    .wrapper{
        width: 100vw;
        margin: 0px;
        font-family: circular;
        font-size: 14px;
        line-height: 1.43;
        padding: 0px;
        /* border: 1px solid black; */
        /* font-family:; */
    }
    a.covid_link{
        text-decoration: underline;
    }
    .container_header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        /* justify-content: center; */
        /* align-items: center; */
        /* color: white; */
        background-image: url(../img/mobile/mobile1.webp);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        text-align: center;
        /* margin: 0px; */
    }
    .box{
        /* width: 100%; */
        /* height: 50px; */
        /* text-align: center; */
        /* border: 3px solid black; */
        margin: 0px;
    }
  
    .covid{
        /* margin-top: 0px; */
        /* display: block; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        /* top: -30px; */
        margin:0px;
        height: 40px;
        text-decoration-color: black;
    }
   input{
       /* margin-top: 0px; */
       display: flex;
       /* top: -10px; */
       position: relative;
       width: 90%;
       margin-left: auto;
       margin-right: auto;
       height: 35px;
       border-radius: 2em;
   }

   input:focus{
       outline: none;
   }
   .search_pane{
  /* position: relative; */
  contain: content;
  padding-top: 10px;
  /* position: sticky; top: 0px; */
   }
   .fa-search{
       text-indent: 8px;
       font-size: 13px;
   }
   .olympic_images{
       position: relative;
       padding-top: 20px;
       /* top: 10px; */
       /* height: 70px; */
   }
   .olympic_img{
       max-width: 40%;
       /* padding-top: 30px; */
   }
   .texts{
       color:white;
       font-weight: bold;
       margin: 0px;
   }
   p{
       font-size: 12px;
   }
   h4{
       font-size: 30px;
   }
   h4,p{
       margin: 10px;
   }
   .header_button{
    background-color:white; 
    color: black;
    border: none;
    /* color: white; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1em;
    font-weight: bold;
   }
   div.sliding_pictures{
       width: 100%;
       overflow: auto;
   }
   img.img_slide{
       width: 100%;
       border-radius: 1em 1em 0px 0px;
   }
   .bold_letters {
       font-weight: bold;
       font-size: 18px;
       text-align: left;
       padding-top: 10px;
       margin-top: 10px;
   }
   .norm_letters{
       font-size: 13px;
       color: grey;
       text-align: justify;

   }

   .slider{
       /* width: 300px; */
       /* width: 100%; */
       /* height: 300px; */
       padding-top: 20px;
       padding-left: 10px;
       /* padding-bottom: 0px; */
       /* margin-bottom: 0px; */
       display:flex;
       overflow-x: auto;
       -webkit-overflow-scrolling: touch;
       padding-bottom: 10px;
   }
   .slide{
       /* width: 300px; */
       flex-shrink: 0;
       height: 100%;
       width: 60%;
       margin: 10px 10px 0px 10px;
       display: flex;
       flex-wrap: wrap;
   }
   div.img_div{
       height: 87px;
       box-shadow: 0px 0px 13px -2px #888888;
       margin-bottom: 20px;
       /* box-shadow: 3px 3px 5px 6px #ccc; */
   }
   .img_div,.img_div_2{
    border-radius: 0em 0em 1em 1em;
    width: 100%;
       /* top: 10px; */
    position: relative;
    height: 120px;
    padding-bottom: 20px;
   }
   .black_div{
       background-color: black;
       color: white;
       width: 100%;
       margin: 0px;
       /* font-size: 18px; */
       height:auto;
       /* content: contain; */
       contain: content;
   }
   .black_bold_letters,.black_norm_letters{
       
       text-align: justify;
       color: white;
       width: 80%;
       padding-left: 20px;
   }
   .black_bold_letters{
       padding-top: 40px;
       
       font-weight: bold;
       font-size: 25px;
   }
   .black_norm_letters{
       font-size: 18px;
   }

   .img_div_2{
       height: 80px;
       background-color:#222222;
   }
   .black_button{
       display: flex;
       height: 30px;
       width: auto;
       padding-top: 5px;
       border: 1px solid white;
       background-color: black;
       color: white;
       margin: 10px 0px 20px 40px;
       border-radius: 5px;
   }
   .white_bold_letters{
    padding-top: 40px;
    font-weight: bold;
    font-size: 25px;
    color: black;
   }
   .grey_norm_letters{
    font-size: 18px;
    color: grey;
   }
.white_bold_letters,.grey_norm_letters{
    text-align: left;
    margin-left: 20px;
}
.white_button{
    display: flex;
    height: 30px;
    width: auto;
    padding-top: 5px;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin: 10px 0px 20px 40px;
    border-radius: 5px;
}
.black_lives{
    background-color: black;
    contain: content;
    /* height: 1250px; */
}
.blank_div{
    height: 280px;
}

.desitnation_heading{
    padding-top: 40px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-align: left;
}

.cities,.desitnation_heading{
    /* padding-top: 40px; */
    font-weight: bold;
    /* font-size: 25px; */
    color: black;
    text-align: justify;
    margin-left: 20px;
    /* border-top: 1px solid grey; */
    border-bottom: 1px solid grey;
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cities{
    font-size: 15px;
    margin-bottom: 10px;
}
.ending{
    background-color:hsl(0,0,96);
    text-align: justify;
    padding-left: 20px;
    text-decoration: none;
    color: black;
    margin-top: 0px;
    position: relative;
    border-top: 1px solid grey;
}
a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.footer_header{
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
}
.about,.community,.host,.support{
    border-bottom: 0.5px solid grey;
}

div.box.about {
    margin-top: -10px;
}

p.cities.lastone {
    padding-bottom: 50px;
    border-bottom: 0px;
}

.footer1,.footer2{
    text-align: left;
    margin: 10px;
    /* padding-bottom: 0px; */
    margin-bottom: 0px;
}
}